{% extends "puzzle.html" %}

{% block puzzle-body-html %}
<div>
    <center>
<img src="../static/puzzle_resources/html-block-wo-css/html-block-wo-css.jpg" width=600 height=300 alt="caption of html-block-wo-css.jpg"> <br>
caption of html-block-wo-css.jpg
    </center>
</div>

<div>
    这道题的html位于
    <code>
        puzzles/templates/puzzle_bodies/html-block-wo-css.html
    </code>
    <br>
    静态图片资源位于
    <code>
        puzzles/static/puzzle_resources/html-block-wo-css/html-block-wo-css.jpg
    </code>
    ,它被硬编码在这道题的html里。想要尝试用html出题（比如插入资源）的话，可以参考本题。
</div>
{% comment %} {% include 'dev/index.html' %} {% endcomment %}
{% comment %} <iframe src="dev/index.html"></iframe> {% endcomment %}
{% endblock %}
