{% extends "puzzle.html" %}
{% block puzzle-body-md %}
这本特供上海和深圳的教辅书似乎和答案有些差值？不过每个章节最后的谜语部分还是很有趣的~
{: .flavor}


A1. 你是穿越回现代的秦始皇，找到了一份建修铁路的工作。已知六条轻轨的平均造价为8003万，七条地铁的平均造价为9651万，五条长距离铁路的平均造价为72926万，而两条短距离高铁的平均造价为6.04亿，请问，总造价一共多少万元？

A2. 为了制造出最好的酱油，以及打败友商，公司需要把酱油晒足至少180天。目前需要22位工人，他们的日均工资为150元。另外有一位兼职人士在此期间的成本为9287元。请问，制造出这一批酱油的最低总人力成本为多少？

<hr>

B1. 在我国长江地区，张工所在的水电站年发电量为180亿。其中第一季度的发电量为第三季度的2/3， 第二季度的发电量为第三季度的5/4, 第三季度的发电量为411121万千瓦时，请问第四季度的发电量为多少万千瓦时？（四舍五入保留六位有效数字）

B2. 王叔叔为了让生活更美，决定购置同一品牌的双开门电冰箱，变频空调和涡轮落地扇。三者一共花了4649.5元。其中标价为3399的电冰箱打了八折，标价为2499的变频空调返现30%，且王叔叔使用了150元的购物优惠券。如果涡轮落地扇没有打折，它的价格是多少？

B3. 为了做这道题，也为了讨个好彩头，你选择了一个名字听起来非常风调雨顺的券商进行开户。你以1618.67的股价买入了120股贵州茅台，271.52的价格购入了1200股比亚迪，和24.78的价格购入了4000股芒果超媒。十五天后，茅台涨了10%，比亚迪跌了13%，芒果涨了5%，请问你现在持仓多少元？（四舍五入保留整数）

<hr>


C1：在某个月你工作了21天。平均每天上下楼4次。每次在电梯里都有大概两分钟的时间。你大概会花20.1%在电梯中的时间看电梯广告。请问你本月电梯广告的观看时长是多少秒？（四舍五入保留整数）

C2：每次去海南旅游你都回去免税店大买特买来帮朋友代购。你这次代购了均价为28800的8个包包，均价为5300的18双鞋和均价为26900的10件外套。除开这些，你自己买了价值为7085的一件短袖。请问你一共给免税店贡献了多少收入？

C3 (双倍难度练习）：你下载了免费杀毒软件，他正在清理你的F盘。你的电影一共有250个GB。游戏一共有54GB，文稿一共有23GB，还有260GB的图片，以及249MB你不知道到底是什么的内容。请问你的F盘所用空间是多大MB？

<hr>


D1. 你在安徽建房子的时候决定选用当地的水泥进行建房。房屋建好后，你决定找人装修你的三套房子。每套房子的装修费都是19万。另外，你花了30582元置办了各种各样的家电。请问这次装修你一共花了多少钱？

D2. 在去营业厅办理新手机号并装完宽带网络后，你用飞快的网速打开了一款游戏。你刷到了三件稀有的装备。第一件装备的价格为30.15万金币，第二件装备的价格为第一件的3/5。第三件装备的价格是第二件装备的65.963%。请问三件装备一共多少金币？（四舍五入保留整数）

D3.你特别喜欢吃火腿肠。为了买火腿肠，你往楼下的便利店卡里冲了1000元，这样原先的17.92十只装的火腿肠可以打84折。第二天，你肚子痛，别人冲进来发现你躺在床上抽动，旁边有7个十只装火腿肠的袋子以及一包0.65元的三无辣条。假如这些就是你在便利店里的所有消费，请问你卡里还剩多少钱？（注意，打折后的价格保留两位小数）
{% endblock %}
