{% extends "puzzle.html" %}
{% block puzzle-body-md %}

一段中西**合璧**的教导……**真不知道是几个意思啊**。
{: .flavor}

<div class="my-4 split"></div>

<div class="container">
    <p>
        PUZZLE，常有WIN。<br><br>
        碰见PIG时，如果不知TOY，不经BOW就MAN地STRIKE，常因势力BAD而碰HIM，ICU在ZLE的WIN中。<br><br>
        在ZLE里BIGPUZ的WER中，与其VOYAGE，不如BOWSER势力，当你HUMANS，才能毫无DNA地动用CPU，STR直取对方的JOB。
    </p>
</div>

<div class="my-4 split"></div>

<img src="/static/puzzle_resources/chaos/puzzle.webp" class="w-100" alt="pic">
<div class="mb-5 split"></div>
<div class="fw-bold text-center">(10 7)</div>
<div class="alert alert-info mt-3 w-50 mx-auto text-center">
    获取全部清晰图片，你可以<a href="/static/puzzle_resources/chaos/PUZZLE.pptx" download>下载ppt</div>
</div>

{% endblock %}
