{% extends "puzzle.html" %}
{% block puzzle-body-md %}

<div class="container">
<div class="text-center">
    <img src="/static/puzzle_resources/city_walk/img_city_walk.png" class="w-100" alt="">
</div>
<div class="alert alert-success text-center">
<div>本题有音频，如果您的浏览器没有自动播放，请使用下方的播放器播放音频。</div>
<div class="mt-3"><audio controls autoplay id="audio">
    <source src="/static/puzzle_resources/city_walk/city_walk.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
</audio></div>
</div>
<div class="alert alert-success text-center">
<div> 您可以访问<a href="https://docs.qq.com/doc/DSHljUktPa1dBWURx">【腾讯文档】城市漫游</a>来查看节目完整文稿。</div>
</div>
</div>

</div>

<script>
document.addEventListener('DOMContentLoaded', () => {
    document.getElementById('audio').volume = 0.2;
});
</script>

{% endblock %}
