{% extends "puzzle.html" %}

{% block pre_solve_scene_btn %}
<button class="btn" data-bs-toggle="collapse" data-bs-target="#pre-solve-scene-collapse">查看剧情</button>
{% endblock %}

{% block post_solve_scene_btn %}
<button class="btn" data-bs-toggle="collapse" data-bs-target="#post-solve-scene-collapse">查看完成剧情</button>
{% endblock %}

{% block pre_solve_scene %}
<div class="collapse mb-2" id="pre-solve-scene-collapse">
<div class="white-75-background">
<h3>极武之躯黄大权</h3>
<p>
陈子题第一天上课的时候，就很害怕黄大权这个人。毕竟从小被欺负，不怕打，但是陈子题怕的是老师对他印象不好，就不能学到真功夫了。毕竟虽然黄大权的脾气很差，但是没人说他的功夫不好。<br><br>
正想着，白毛小师妹也来了练功房。毕竟熟人了，陈子题就想和小师妹开开玩笑，从后面偷偷凑了上去，想摸摸小师妹脑袋。<br><br>
“崽崽你也来——”陈子题正欲伸手，话还没说完，小师妹突然一改往日的温和，开始勃然大怒，“谁要偷袭我？？？？！！！！”她一个飞快的转身，一个寸拳就击中了陈子题。陈子题大吃一惊，没撑住，被直接打飞到了好几百米以外，差点跌下山崖。<br><br>
等到陈子题摸回来，另一位道友才拍拍他的肩膀，说：“哥们，你有点厉害，权姐你也敢惹啊。”<br><br>
“他平时一直和黄大权玩，老魔女应激了而已，没啥的。”另外一位和陈子题关系好一些的道友说到。<br><br>
“？？？？？？？？？？？？？？？？？？？？？？”陈子题大叫一声。虽然我们都知道问号不发音。<br><br>
<br>
“不是，崽崽你就是黄大权啊？不是，我以为你是我师妹好吧，不是，我得喊你姐，不是，师父，不是，你，你别给我穿小鞋啊，真不是故意的……” 第二天中午，陈子题语无伦次的一边撸着猫，一边慌忙的解释道。他已经喝了好多水了。但还是很紧张，毕竟他也以前也不是没摸过黄大权的脑袋。他想，自己真傻，自己师妹肌肉长得比自己还壮，而且他因为自己一米九几就没意识到小学妹也有一米八几，除了可爱一点以外明显就是武学大师啊，纯纯的练家子。<br><br>
“我心眼没那么小吧……”黄大权从陈子题手里抢过猫来，喝了一口水，说道，“你不认识我也无所谓啊……毕竟武当虽然咱们讲个师承，但是有基本的礼数即可。”<br><br>
“谢谢崽崽……崽崽师傅不杀之恩！”陈子题吓的连磕了三个头，起身又感觉到了口干舌燥，“诶，水喝完了，让我喝一杯你的。”还没等黄大权回复，陈子题拿起黄大权的杯子，就一口灌了下去，然后立刻把所有喝进去的酒全都喷了出来。“怎么这么辣？？？？”<br><br>
“枝江大曲，纯的。”黄大权淡淡的说。<br><br>
“不是你之前也一直喝的都是大曲啊？”“有的时候是茅台。”
</p>
</div>
</div>
{% endblock %}

{% block post_solve_scene %}
<div class="collapse mb-2" id="post-solve-scene-collapse">
<div class="white-75-background">
<p>
黄大权将一杯酒递给了陈子题。她以充满期待的眼神注视着他。陈子题犹豫再三，但最终还是决定信任这位前辈，他接过酒杯，一饮而尽。<br><br>
酒液入喉，瞬间陈子题便感到头晕目眩，天旋地转。然而，在这混沌之中，他却意外地感受到了太极的调和，气息的流向，以及那深不可测的武道真谛。他闭上眼睛，口中念念有词：“太极生两仪，两仪生四象，四象生八卦。”<br><br>
随着他的话语落下，他调动起经脉中两股相冲的气，如同阴阳交汇，矛盾统一。他挥出一拳，拳风中隐隐透露出太极的韵味。黄大权见状，轻松地一挡，但陈子题的拳劲之强，竟让她也后退了几步。她眼中闪过一丝惊讶，随即化为欣赏的笑意：“果真你悟性很高。”<br><br>
“喝了这个拳击之酒（ PUNCH WINE ），你就能感受到拳法的真谛。”黄大权解释道，“这酒能让人在醉意中与大道贴合，但并非所有人都能如你这般领悟能力。”<br><br>
陈子题听到这番话，心中既兴奋又忐忑：“哇，太厉害了！但是以后为了练拳我不会和你一样变成酒鬼吧？”他的话语中带着一丝调皮和认真。 然而，他并未注意到黄大权表情的变化。黄大权弯下腰，来到了陈子题的面前，眼中闪烁着危险的光芒。紧接着，她一拳轰向陈子题，这一拳石破天惊，威力惊人。<br><br>
陈子题猝不及防之下被这一拳击中，整个人如同离弦之箭般飞了出去。他在空中翻滚着，感受着从未有过的冲击力和失重感。这感觉，爽的像飞了起来。
</p>
</div>
</div>
{% endblock %}

{% block puzzle-body-md %}

“记好了小伙子！要知道什么**合乎道**，才能不被**蒙蔽了眼睛**！”黄师傅说。<br>
（由于黄师傅喝醉了，练拳的时候，她忘了告诉你要“上提中宫”）
{: .flavor}

<div class="container">
<p style="white-space: pre-wrap">
合乎道：
<ul>
  <li>虎拳: 40%</li>
  <li>螳螂拳: 83.33%</li>
  <li>龙拳: 33.3%</li>
  <li>长拳: 25%</li>
  <li>少林拳: 57.14%</li>
  <li>鹤拳: 20%</li>
</ul>
</p>
<table class="fist-table">
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>

    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>E</td>
      <td>S</td>
    </tr>
    <tr>
      <td></td>
      <td>E</td>
      <td></td>
      <td>O</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>H</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>R</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
</div>

<style>
  table.fist-table {
    margin-left: auto;
    margin-right: auto;
  }
  table.fist-table td {
    border: 1px solid black;
    padding: 1rem;
    width: 4rem;
    text-align: center;
  }
  table.fist-table tr {
    height: 40px;
  }
</style>
{% endblock %}