{% extends "puzzle.html" %}

{% block pre_solve_scene_btn %}
<button class="btn" data-bs-toggle="collapse" data-bs-target="#pre-solve-scene-collapse">查看剧情</button>
{% endblock %}

{% block post_solve_scene_btn %}
<button class="btn" data-bs-toggle="collapse" data-bs-target="#post-solve-scene-collapse">查看完成剧情</button>
{% endblock %}

{% block pre_solve_scene %}
<div class="collapse mb-2" id="pre-solve-scene-collapse">
<div class="white-75-background">
<h3>水兑之灵司马君实</h3>
<p>
“崽崽……崽崽师傅，司马君实是个什么样的人啊？”陈子题说。<br><br>
“哦，他是个好人。”黄大权一边撸猫，一边说。
</p>
</div>
</div>
{% endblock %}

{% block post_solve_scene %}
<div class="collapse mb-2" id="post-solve-scene-collapse">
<div class="white-75-background">
<p>
“穿好鞋！”司马君实拍了拍陈子题的肩膀，说完，绝尘而去。<br><br>
陈子题摸了摸之前司马君实穿的靴子，好家伙，全是负重。怪不得他换上让脚更轻松的运动鞋（ EASY SNEAKERS ）之后就跟风一样飞快了。果不其然，他的身法水平提高了很多，不过飞的还是没有被黄大权打飞的快。
</p>
</div>
</div>
{% endblock %}
{% block puzzle-body-md %}
君实真人告诉我，如果想要练好身法，就一定要追寻最快的事物以及最快的那些人。
从他们身上我学到了什么?
{: .flavor}
<style>
  table.kungfu-move-table {
    border-collapse: collapse;
    width: 60%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .kungfu-move-table td {
    border: 1px solid black!important;
    padding: 5px;
    min-width: 12rem;
  }
</style>

<div class="container">
  <table class="kungfu-move-table">
    <tbody>
      <tr>
        <td class="text-center">月</td>
        <td rowspan="7"> <img src= "/static/puzzle_resources/kungfu_meta_move/img_thing.webp" class="w-100"> </td>
        <td class="text-center">日</td>
      </tr>
      <tr>
        <td>_ _ _ _ -4</td>
        <td>_ _ _ _ -13</td>
      </tr>
      <tr>
        <td>_ _ _ _ _ +5</td>
        <td>_ _ -4</td>
      </tr>
      <tr>
        <td>_ _ -6</td>
        <td>_ _ _   -22</td>
      </tr>
      <tr>
        <td>_ _ +3</td>
        <td>_ _  -23</td>
      </tr>
      <tr>
        <td>_ _ -5</td>
        <td>_ _ _ _ _ -20</td>
      </tr>
      <tr>
        <td>_ _ _ -4</td>
        <td>_ _ -22</td>
      </tr>
    </tbody>
  </table>
  <div class="split my-3"></div>
  <div class="text-center fw-bold">
    B[D] A[M] B[M] A[D] D[M] E[D] C[M] E[M] F[D] D[D] C[D] F[M]
  </div>
</div>

{% endblock %}