{% extends "puzzle.html" %}
{% block puzzle-body-md %}

你我在遥远的星空中相遇 <br>
为何相爱就像是一个无解的谜语 <br>
从我们相识的到结束，你我这一对和那时一样，<br>
我们之间一生一世的爱会有什么结果 <br>
{: .flavor}
<div class="universe">
     <h1>
      宇宙的这头
     </h1>
    <ul>
      <li>你是十八场我无法胜出的游戏，没有了你，我就失去了我最独特的技能。</li>
      <li>你是五朵美丽的鲜花，没有了你，我在电脑里寻找任何事物都要很久。</li>
      <li>你是一座充满着美景的花园，没有了你，我修仙的道路上两手空空。</li>
      <li>你是四枚小小的邮票，没有了你，我的叶子落了一地。</li>
      <li>你是十二座雄伟的高塔，没有了你，外星的来客就无法穿梭宇宙。</li>
      <li>你是一条缤纷的鱼，没有了你，我再也喝不到新鲜的果汁。</li>
      <li>你是十九串没有止境的数字，没有了你，前线受困的我们无法得到兵力支援。</li>
      <li>你是二十个冷峻的方格，没有了你，我的头顶锃亮就像是和尚。</li>
      <li>你是二十五次看不透的虚拟，没有了你，我找不到任何借口。</li>
      <li>你是五个夜空中闪亮的星座，没有了你，我再也没有可以热爱的偶像。</li>
      <li>你是一只活灵活现的精灵，没有了你，我喝不下去一口水。</li>
      <li>你是十八班永远准点的列车，没有了你，双层床的下铺早已被人占据。</li>
      <li>你是三枚精雕细琢的棋子，没有了你，我无法呼吸。</li>
      <li>你是三只勤劳的蜜蜂，没有了你，我重疾缠身。</li>
      <li>你是两本我参不透的书籍，没有了你，我英雄联盟的重装战士没有办法开团。</li>
      <li>你是三层广袤的空间，没有了你，我说的中文完全无法记录。</li>
    </ul>
  <br>
  <h1>
      宇宙的那头
  </h1>
    <ul>
      <li>你是八场让我开怀的喜剧，没有了你，我失去了消费的流动性。</li>
      <li>你是五章最美的诗篇，没有了你，我就是一把无法开火的枪。</li>
      <li>你是三月校园里飞舞的头发，没有了你，我就是一艘迷失航道的船。</li>
      <li>你是六张写满了祝福的卡片，没有了你，我久坐后的肌肉和腰背都开始酸痛。</li>
      <li>你是一面飘扬的旗帜，没有了你，空气里的光再也没有办法散射开来。</li>
      <li>你是两架载满笑声的雪橇，没有了你，我在工作中赚不到钱也受尽了气。</li>
      <li>你是一个迷住我的阵法，没有了你，我写出的任何东西都变得潦草。</li>
      <li>你是五张花花绿绿的纸片，没有了你，我找不到河流从哪里开始流淌。</li>
      <li>你是三架先进的飞船，没有了你，我在银行门口却取不了钱。</li>
      <li>你是六道难懂的试题，没有了你，我的头发上下起了白雪。</li>
      <li>你是七个相邻的圆圈，没有了你，我的大三元缺了这张牌，也缺了这件事。</li>
      <li>你是五段难懂的历史，没有了你，我的交响曲也演奏不到第五章。</li>
      <li>你是十个有特殊意义的词汇，没有了你，外面的天气依旧让我满头大汗。</li>
      <li>你是六种浪漫的语言，没有了你，还是孩子的我不能松手让你飞上天空。</li>
      <li>你是一种我无法做出的选择，没有了你，我找不到没有核还能生存下去的生物。</li>
      <li>你是六个行走江湖的侠客，没有了你，我在食堂的队列里饿的眼冒金星。</li>
    </ul>
</div>

{% endblock %}
