{% extends "puzzle.html" %}
{% block puzzle-body-md %}
这是散落各处的经文残本。相传，为了保守其中蕴藏的秘密，弟子们将全卷拆开后，留下了一部分用以相互印证。
{: .flavor}
<style>
.boxed {
    display: inline-block;
    border: 1px solid black;
    padding: 0.25em 0.5em;
}
table.split-table {
  border-collapse: separate;
  border-spacing: 5px;
}
.split-table td {
  border: 1px solid black!important;
  padding: 8px!important;
  text-align: center;
  width: 10%; /* 设置一个较小的百分比宽度 */
  border-radius: 5px;
}
</style>
<h1>
    封面
</h1>
<ul>
  <li>动物</li>
  <li>国家</li>
  <li>美国州</li>
  <li>古罗马军事家</li>
  <li>布拉德·皮特主演电影</li>
  <li>群岛</li>
  <li>西班牙省份</li>
  <li>日本料理</li>
  <li>幻之宝可梦</li>
  <li>航天器</li>
  <li>体育项目</li>
  <li>文学名著</li>
  <li>披头士歌曲</li>
  <li>仪器</li>
</ul>
<h1>
    碎片
</h1>
<table class="split-table">
  <tr>
    <td>AND</td>
    <td>ER</td>
    <td>GA</td>
    <td>GE</td>
    <td>GONE</td>
    <td>HIP</td>
    <td>I</td>
    <td>IALA</td>
    <td>INGBE</td>
    <td>IPPI</td>
  </tr>
  <tr>
    <td>ISLANDS</td>
    <td>JIKIS</td>
    <td>K</td>
    <td>L</td>
    <td>LLI</td>
    <td>MA</td>
    <td>MI</td>
    <td>MOMET</td>
    <td>N</td>
    <td>ND</td>
  </tr>
  <tr>
    <td>R</td>
    <td>RAGO</td>
    <td>S</td>
    <td>S</td>
    <td>SA</td>
    <td>SMAR</td>
    <td>SSMITH</td>
    <td>SU</td>
    <td>TAL</td>
    <td>TAMUS</td>
  </tr>
  <tr>
    <td>TH</td>
    <td>THTHE</td>
    <td>YA</td>
  </tr>
</table>
{% endblock %}
