{% extends "puzzle.html" %}
{% block puzzle-body-md %}

**东**边日出**西**边雨，道是**无**晴却**有**晴。
我该怎么**形容**这矛盾的感觉？
{: .flavor}

<div class="container text-center">

<h3>生物 数学 物理 化学 金融 音乐</h3>
如果把人的品[ #1 ]为团队精神考量，那么[ ]能力就是最重要的一环。<br><br>
夜还没过去多久，天空刚刚[ #4 ]，我们就抵达了肯德[ ]羽鸡培育场.<br><br>
馋的让我胃里反[ ]的湖北的热干面得用[ #8 ]面做.<br><br>
心理医生希望她的咨询与[ #7 ]能帮人们离[ ]望和悲伤。<br><br>
我的女朋友是中国东航的[ #5 ]，她有许[ ]妹和兄弟。<br><br>
美国大学有时会举办[ #2 ]活动，这让许多留学生[ ]跑的他们吸引住目光，然后羞的转过头去。<br><br>
<br><br>
<br><br>
<b># + （-# = 4） = 答案</b>

</div>

{% endblock %}
